*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}
html, body{
  width: 100%;
  overflow-x: hidden;
}
.navber{
width: 100%;
max-width: 1600px;
margin: 0 auto;
  background-color: #412567;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 32px;
  color: #FFFFFF;
  font-weight: 500;
}
.menu-icon{
width: 24px;
height: 24px;
  display: none;
  color: white;
}
@media screen and (max-width: 576px){
/* navber */
  .navber{
    padding: 16px 20px;
  }
  .nav-links{
    display: none;
  }
  .nav-img2{
    display: none;
  }
  .menu-icon{
    display: block;
  }

  #nav-img1 img{
    width: 120px;
  }
}
.hero{
  min-height: 100vh;
  background: url(./assets/hero-bg.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}
.hero-content{
  max-width: 600px;
}
.circle-content{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 101px auto 30px;
}
.circle{
  width: 100%;
  height: 100%;
}
.mic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}
.badge{
  position: absolute;
  top: 50px;
  right: -10px;
  background: #22ff88;
  color: #000;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
}
.badge:hover{
  color: #250808;
  background-color: #ee1d1d;
}
.hero h1{
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 25px;
}
.hero-buttons{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.hero-btn{
  gap: 10px;
  display: inline flex;
  padding: 12px 5px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-spotify{
  background: none;
  
  border: none;
}

.btn-sub{
  /* margin-right: 10px; */
  background: none;
 border: none;
 background: transparent;
 /* border: 1px solid #2bff88 ; */
 transition: all 0.3s ease;
}
.btn-sub:hover{
  background-color: #a82558;
  color: #000;
  transform: scale(1.05);
}
@media screen and (max-width:576px) {
 .circle-content{
  width: 160px;
  height: 160px;
 }
 .mic{
  width: 60px;
 }
 .hero-content h1{
  font-size: 32px;

 }
 .hero-content p{
  font-size: 14px;
 }
 .hero-btn{
  flex-direction: column;
 }
  
}


                  /* section ABOUT */

.about-section{
  color: white;
  background-color: #1A0B2E;
  padding: 80px 20px;
}
.about-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.about-content .h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}
.about-content .p1{
  margin-bottom: 50px;
}
.sub-text{
  margin-bottom: 100px;
}
.card-container{
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  padding-top: 50px;
 text-align: center;
}
.about-card img{
  width: 180px;
  margin-bottom: 12px;
  
}
.about-card p{
  font-weight: 400;
}


             /* RESPONSIVE ABOUT */
@media screen and (max-width:576px) {
  .card-container{
    grid-template-columns: repeat(2,1fr);
    width: 400px;
    gap: 30px;
  }
  
}


               /* WHY CONTAINER */

.why-section{
  background: #230E3D;
  padding-top: 100px;
  color: white;
}
.why-container{
  max-width: 1150px;
  margin: 0 auto;
}
.why-container h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.why-grid{
  /* max-width: 1000px; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.why-grid img{
  width: 50px;
  margin-bottom: 17px;
}
.why-grid h3{
  font-size: 1.10rem;
font-weight: 700;
}
.why-card-1 {
 width: 280px;
 height: 380px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
  grid-row: span 2;
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.why-card-2{
width: 725px;
height: 240px;
grid-column: span 2;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.why-card-4{
  width: 690px;
height: 225px;
grid-column: span 2;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
#why-card-5{
  width: 330px;
height: 240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
grid-row: span 1;
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);

}
/*   RESPPONSIVE WHY CONTAIBER */
@media screen and (max-width:576px) {
  .why-section {
    padding: 70px 16px;
    
  }
  .why-grid{
    grid-template-columns: 1fr;
  }
  .why-card-1 , .why-card-2  {
    width: 380px;
  }
  .why-card-4{
    width: 380px;
    height: 300px;
  }
}
            /* episodes-section */

.episodes-section{
  padding-top: 100px;
  background: rgba(26, 11, 46, 1);
  color: white;
}
.episodes-container{
  max-width: 1200px;
  margin: auto;
}
.episode-title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 700;

}
.episodes-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.episode-card{
  background: #250D44;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 70px;
}

.video-wrapper iframe{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  inset: 0;
}
.episode-card h3{
  font-size: 1.40rem;
font-weight: 700;
margin-bottom: 12px;

}
.episode-card p{
  margin-bottom: 12px;
}
.time{
  display: flex;
  text-align: center;
  color: #00FF88;
  gap: 5px;
}
@media screen and (max-width:576px) {
  .episodes-grid{
    grid-template-columns: 1fr;
  }
  
}
                     /* Meet the Host */

.host-section{
  color: white;
  background: 
rgba(26, 11, 46, 1);
}
.host-container{
  max-width: 1100px;
  margin: auto;
}
.host-title{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.host-card{
  background: #533C72;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  gap: 28px;
  align-items: center;
}
.host-info h3{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.host-info p{
  margin-bottom: 16px;
}
.host-socials{
  display: flex;
  gap: 10px;
}
.host-socials img:hover{
  width: 30px;
  background-color: #b92626;

}
/* RESPONSIVE */
@media screen and (max-width:576px) {
  .host-card{
    flex-direction: column;
    text-align: center;
  }
  .host-socials{
    justify-content: center;
  }
  
}